/**
 * @file
 * Comment Styling
 */
/* line 7, ../sass/comments.scss */
#comments {
  margin: 1.5em 0;
}

/* line 20, ../sass/comments.scss */
.comment-preview {
  background-color: #ffffea;
  /* Drupal core will use a #ffffea background. See #1110842 */
}

/* line 39, ../sass/comments.scss */
.comment-unpublished {
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}

/* line 58, ../sass/comments.scss */
.new {
  color: #c00;
}

/* line 77, ../sass/comments.scss */
.indented {
  /* margin-left: 25px; */
  /* Drupal core uses a 25px left margin */
}
