/**
 * @file
 * RTL companion for the layout-fixed.css file.
 */
/*
 * Content
 */
/* line 10, ../sass/layout-fixed-rtl.scss */
#content,
.no-sidebars #content {
  float: right;
  margin-left: -960px;
  /* Negative value of #content's width + right margin. */
  margin-right: 0;
}

/* line 17, ../sass/layout-fixed-rtl.scss */
.sidebar-first #content {
  margin-left: -960px;
  /* Negative value of #content's width + right margin. */
  margin-right: 200px;
  /* The width of .region-sidebar-first. */
}

/* line 22, ../sass/layout-fixed-rtl.scss */
.sidebar-second #content {
  margin-left: -760px;
  /* Negative value of #content's width + right margin. */
  margin-right: 0;
}

/* line 27, ../sass/layout-fixed-rtl.scss */
.two-sidebars #content {
  margin-left: -760px;
  /* Negative value of #content's width + right margin. */
  margin-right: 200px;
  /* The width of .region-sidebar-first */
}

/*
 * Navigation
 */
/* line 35, ../sass/layout-fixed-rtl.scss */
#navigation {
  float: right;
  margin-left: -960px;
  /* Negative value of #navigation's width + right margin. */
  margin-right: 0;
}

/*
 * First sidebar
 */
/* line 44, ../sass/layout-fixed-rtl.scss */
.region-sidebar-first {
  float: right;
  margin-left: -200px;
  /* Negative value of .region-sidebar-first's width + right margin. */
  margin-right: 0;
}

/* line 50, ../sass/layout-fixed-rtl.scss */
.region-sidebar-first .section {
  margin: 0 0 0 20px;
}

/*
 * Second sidebar
 */
/* line 57, ../sass/layout-fixed-rtl.scss */
.region-sidebar-second {
  float: right;
  margin-left: -960px;
  /* Negative value of .region-sidebar-second's width + right margin. */
  margin-right: 760px;
  /* Width of content + sidebar-first. */
}

/* line 63, ../sass/layout-fixed-rtl.scss */
.region-sidebar-second .section {
  margin: 0 20px 0 0;
}
