/**
 * @file
 * Base mixins and variables
 */

/* Imports */

@import "compass";


/* Colours */
$colour-primary: #239ce2;
$colour-secondary: #b24376;
$colour-light: #eeeeee;

/* Text */
$colour-text: #444444;
$colour-text-reversed: #ffffff;

/* Links */
$colour-link: #34b1f9;
$colour-link-hover: $colour-secondary;
$colour-link-visited: desaturate(darken($colour-primary, 10%), 15%);