/**
 * @file
 * Navigation Styling
 */

// Importing base partial for component, mixinsa nd vars
@import "base";

/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
}

#block-menu-block-1 {
  margin-bottom: 0em;
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
#main-menu,
.menu-name-main-menu {
  line-height: 1;
  padding: 1.5em 0em 1em 2em;
  margin-top: -4.75em;
  position: absolute;
  width: 1245px;
  left: 0;
}

.menu-name-main-menu ul {
  padding:0;
  margin:0;
  float: right;
}

.menu-name-main-menu li.leaf {
  list-style: none;
  float: left;
  margin-left: 3em;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.menu-name-main-menu li.leaf:before {
  content: "\b7\a0";
  color: #0f5a85;
  font-size: 2em;
  margin-right: 20px;
  height: inherit;
  position: absolute;
  bottom: -0.2em;
  left: -1em;
}

.menu-name-main-menu li.leaf:first-child:before {
  content: "";
}

.menu-name-main-menu a {
  text-decoration: none;
  @include link-colors($colour-menu-link, $colour-link-hover, false, $colour-menu-link-visited);
  font-size: 1.3em;
}

#secondary-menu {
  float: right;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
.block-menu-block {
}
